// sass-lint:disable nesting-depth
// sass-lint:disable no-vendor-prefixes

$selected-tab: #00f
$validated-tab: #008000

.main
  font-family: Arial, Comic Sans MS, Comic Sans, cursive
  font-size: 1em
  margin: 30px

.page-tab
  margin-bottom: 20px

  span
    margin-right: 30px

  .selected
    border-bottom: 1px solid $selected-tab

  .validated
    color: $validated-tab
